   <!-- @foreach($userRole as $roles)
                           <div class="dropdown-item requester-option"
                              style="cursor:pointer; padding: 6px 12px; display:flex; align-items:center;">

                              <input type="checkbox" class="requester-checkbox" value="{{ $roles->id }}"
                                 style="margin-right:8px;">

                              <span style="flex:1; text-align:left;">{{ $roles->role_name }}</span>
                           </div>
                        @endforeach -->